{% extends "layout.html" %}
{% block body %}
<h1>Welcome to this Inventory Website</h1>
<p>This is a inventory management site, that was developed to learn how to do full stack web development in a framework other than react. The styling on this is mainly using Bootstrap, and hasn't been expanded upon too far. The main reason behind doing this was to better understand management of relational databases, like SQLite.</p>
<p>The contents of the items included are Proffessional Sound and Lighting that are industry standard across the Theatrical and live events. These are a placeholder, as I know a lot about these items from my current work.</p>
{% endblock %}